
/* create foundation for multiple columns */
* {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

/* set font of page to arial */
body {
	font-family: Arial;
}

/* class to center elements */
.centered {
	text-align: center;
}

/* class signifying whole extent of page */
.maincont {
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

/* classes signifying left and right columns, respectively */
.lcol,
.rcol {
	display: inline;
	float: left;
	position: relative;
}

.lcol {
	width: 60%;
}

.rcol {
	width: 40%;
}

/* clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}


/* tag styling the points of the graph */
.point {
	fill: blue;
}

.point:hover {
	fill: red;
}

.stroke {
	stroke: yellowgreen;
	stroke-width: 2px;
}

/* tag styling the "Add point" button */
button {
	margin: 10px;
}